
body { font-family: sans-serif; }

.jumbotron {
    margin: 0;
}

nav {
    z-index: 9998;
    transition: all 0.5s;
}

.scrollUp {
    transform: translateY(-80px);
}

/* ---- grid ---- */
.grid-background {
    background-image: linear-gradient(to bottom, #e9ecef, #eff1f3, #f5f5f7, #fafafb, #ffffff);
}