
* { box-sizing: border-box; }

body { font-family: sans-serif; }

/*dont know, just weird style*/
.container-perspective {
    perspective: 800px;
    background-image: linear-gradient(to bottom, #e9ecef, #eff1f3, #f5f5f7, #fafafb, #ffffff);
}

.jumbotron {
    margin: 0;
}

.block1 {
    height: 250px;
    width: 250px;
}

.block2 {
    height: 300px;
    width: 300px;
}

.block3 {
    height: 150px;
    width: 150px;
}

.block4{
    height: 350px;
    width: 350px;
}

#card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#card .front {
    background: red;
    border: 2px black solid;
}

#card .back {
    background: blue;
    transform: rotateY( 180deg );
    border: 2px black solid;
}

#card:hover {
    transform: rotateY( 180deg );
}

#card.flipped {
    transform: rotateY( 180deg );
}

/* ---- grid ---- */
.grid-background {
    background-image: linear-gradient(to bottom, #e9ecef, #eff1f3, #f5f5f7, #fafafb, #ffffff);
}

.grid {
    /* center */
    margin: 0 auto;
    padding-bottom: 100px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 160px;
    height: 120px;
    float: left;
    background: #D26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
}

.grid-item:hover, .grid-item:active{
    background: #A2C;
    border-color: white;
    cursor: pointer;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.grid-item--gigante {
  width: 640px;
  height: 360px;
}

.grid .hidden {
    visibility: hidden;
}