
/*dont know, just weird style*/
.container-perspective {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 800px;
}

.block1 {
    height: 250px;
}
.block2 {
    height: 300px;
}
.block3 {
    height: 150px;
}
.block4{
    height: 350px;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .front {
  background: red;
    border: 2px black solid;
}
#card .back {
  background: blue;
  transform: rotateY( 180deg );
    border: 2px black solid;
}

#card:hover {
    transform: rotateY( 180deg );
}
#card.flipped {
  transform: rotateY( 180deg );
}

