body {

}

#banner img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 2px solid dodgerblue;
}
.navbar {
    height: 80px;
    padding: 0;
}

#button-sign {
    width: 200px;
    color: lightgrey;
    background: cornflowerblue;
    transition: all 300ms linear;
}

#button-sign:hover {
    background: royalblue;
    cursor: pointer;
}

#banner {
    background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/city.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    height: 600px;
    filter: brightness(100%);
    transition: all 300ms linear;
}

#banner:hover {
    filter: brightness(90%);
    cursor: pointer;
}

#like-button {
    border: 2px solid;
    border-radius: 18px;
    height: 35px;
}

.on-hover {
    color: cornflowerblue;
    border-color: cornflowerblue;
    transition: all 200ms linear;
}
.on-hover:not(:focus):hover {
    color: royalblue;
    border-color: royalblue;
}
.on-hover:focus {
    outline: none;
}

.col-md-4, .col-md-6, .col-md-3, .col-md-2, .col-md-1 {

}

/* From 0 to 992px Device Width */
@media (max-width: 992px)  {

    #button-sign {
       display: none !important;
    }
    .navbar {
        height: auto;
        padding: auto;
    }

    #banner {
        display: none;
    }
}