<!doctype html>
<html lang="pl-PL">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Template</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/default.css') }}">

        <!--favicon-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"> <span>REGISTER / LOG IN</span> <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="button-sign" class="d-flex align-items-center justify-content-center h-100">
                LET'S START!
            </div>
        </nav>
        <div class="container-fluid">
            <div id="banner" class="row">
                <div class="col-12">
                    <div class="row h-25"></div>
                    <div class="row h-25">
                        <div class="col-md-4 d-flex justify-content-start p-4">
                            <span style="color: royalblue; font-weight: bold;">Today is &nbsp;</span>
                            <span style="color: cornflowerblue;">{{ date }}</span>
                        </div>
                        <div class="col-md-4 offset-md-4 d-flex justify-content-end p-4" style="text-align: center;">
                            <i id="like-button" class="fas fa-heart on-hover p-2 m-1"> {{ likes }}</i>
                            <i class="fab fa-facebook-square fa-2x on-hover p-1"></i>
                            <i class="fab fa-twitter-square fa-2x on-hover p-1"></i>
                        </div>
                    </div>
                    <div class="row h-25">
                        <div class="col-md-6 offset-md-3">
                            <h3 class="d-flex justify-content-center" style="color: royalblue; font-weight: bold;">
                                Welcome in custom template!
                            </h3>
                            <h6 class="d-flex justify-content-center" style="color: cornflowerblue; font-weight: normal;">
                                It's simply boosted by python flask technology.
                            </h6>
                            <div class="d-flex justify-content-center">
                                <img class="m-1" src="{{ url_for('static',filename='images/flask_logo.png') }}" alt="Flask">
                                <img class="m-1" src="{{ url_for('static',filename='images/python_logo.png') }}" alt="Python">
                                <img class="m-1" src="{{ url_for('static',filename='images/elixir_logo1.png') }}" alt="Elixir">
                            </div>
                        </div>
                    </div>
                    <div class="row h-25">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3 offset-md-6">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <div class="row" style="height: 150px;">

                        </div>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <form>
                                    {% for item in question_data %}
                                    <div class="d-block" style="font-weight: bold; font-size: 20px">{{ item[0] }}</div>
                                    <div class="d-block">
                                        {% for elem in item[1] %}
                                        <div class="form-check form-check-inline">
                                            <label class="checkbox-container">{{ elem }}
                                                <input class="form-check-input" type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                        <div class="row" style="height: 150px;"></div>
                    </div>

                </div>
            </div>

        </div>
        <footer class="pt-4" style="background-color: cornflowerblue;">
            <div class="container-fluid text-center text-md-left">
              <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <h5 class="text-uppercase">Footer Content</h5>
                  <p>Here you can use rows and columns here to organize your footer content.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3" />
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>

                  </div>
                  <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>

            <div class="footer-copyright text-center py-3" style="background-color: royalblue">© {{ year }} Copyright:
              <a href="https://wojciechkur.azurewebsites.net"> Wojciech Kur</a>
            </div>
          </footer>
  <!-- Footer -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

        <!-- Optional JavaScript -->
        <script src="../static/javascript/Default.js"></script>

        <script type=text/javascript>
            $(document).ready( function() {
                $('#like-button').click(function() {
                    $.ajax("{{ url_for('home_controller.add_like') }}").done(function (data) {
                        $('#like-button').html(" " + data);
                    });
                });
            });
        </script>

    </body>
</html>
