<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Template</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main-styles.css') }}">
        <!--favicon-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body class="d-flex flex-column">
        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('home_controller.login_process') }}" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        <!-- NAVBAR DESKTOP/TABLET -->
        <nav class="navbar d-none d-md-flex fixed-top navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"> <span>REGISTER / LOG IN</span> <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="button-start" class="d-none d-md-flex align-items-center justify-content-center h-100" >
                LET'S START!
            </div>
        </nav>
        <!-- NAVBAR MOBILE -->
        <nav class="navbar d-md-none fixed-top navbar-light bg-light">
            <div id="button-mobile" class="container-fluid d-flex justify-content-center h-100" data-toggle="modal" data-target="#loginModal">
                <h5>TAP TO START</h5>
            </div>
        </nav>
        <!-- CONTENT -->
        <div class="container-fluid d-flex flex-column flex-grow-1">
            <div id="banner" class="row d-none d-md-flex">
                <div class="col-12">
                    <div class="row h-25 align-items-end">
                        <div class="col-md-4 d-flex justify-content-start p-4">
                            <span class="font-weight-bold" style="color: royalblue;">Today is &nbsp;</span>
                            <span style="color: cornflowerblue;">{{ date }}</span>
                        </div>
                        <div class="col-md-4 offset-md-4 d-flex justify-content-end p-4 text-center">
                            <i id="like-button" class="fas fa-heart p-2 m-1"> {{ likes }}</i>
                            <i class="fab fa-facebook-square fa-2x p-1"></i>
                            <i class="fab fa-twitter-square fa-2x p-1"></i>
                        </div>
                    </div>
                    <div class="row h-25 align-items-start">
                        <div class="col-md-8 offset-md-2">
                            <h3 class="d-flex justify-content-center font-weight-bold" style="color: royalblue;">
                                Welcome in custom template!
                            </h3>
                            <h6 class="d-flex justify-content-center font-weight-bold" style="color: cornflowerblue;">
                                It's simply boosted by python flask technology.
                            </h6>
                            <div class="d-flex justify-content-center">
                                <img class="m-1" src="{{ url_for('static',filename='images/flask_logo.png') }}" alt="Flask">
                                <img class="m-1" src="{{ url_for('static',filename='images/python_logo.png') }}" alt="Python">
                                <img class="m-1" src="{{ url_for('static',filename='images/elixir_logo1.png') }}" alt="Elixir">
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 align-items-end">
                        <div class="col-md-3">
                            <h6 class="d-flex justify-content-start">placeholder</h6>
                        </div>
                        <div class="col-md-3 offset-md-6">
                            <h6 class="d-flex justify-content-end">placeholder</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-menu" class="row ">
                <ul class="col-12 list-inline d-flex align-items-center justify-content-center">
                  <li class="list-inline-item"><h4><a href="#">Register</a></h4></li>
                    <li class="list-inline-item"><h4><a href="#">Create</a></h4></li>
                    <li class="list-inline-item"><h4><a href="#">View</a></h4></li>
                </ul>
            </div>
            <div class="flex-grow-1 row">
                <div id="internal-survey"
                     class="col-12 py-lg-5 d-flex align-items-center justify-content-center">
                    <ul class="list-group list-group-flush">
                        {% for item in question_data %}
                        <li class="list-group-item">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <div class="d-block font-weight-bold text-justify">
                                        <h5>{{ item[0] }}</h5>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="btn-group btn-group-toggle d-block" data-toggle="buttons">
                                        {% for elem in item[1] %}
                                            {% if loop.index == 1 %}
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="options" autocomplete="off"> {{ elem }}
                                            </label>
                                            {% else %}
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="options" autocomplete="off"> {{ elem }}
                                            </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase">Footer Content</h5>
                        <p>Here you can use rows and columns here to organize your footer content.</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3" />
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Link 1</a>
                            </li>
                            <li>
                                <a href="#">Link 2</a>
                            </li>
                            <li class="d-none d-md-flex">
                                <a href="#">Link 3</a>
                            </li>
                            <li class="d-none d-md-flex">
                                <a href="#">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Link 1</a>
                            </li>
                            <li>
                                <a href="#">Link 2</a>
                            </li>
                            <li class="d-none d-md-flex">
                                <a href="#">Link 3</a>
                            </li>
                            <li class="d-none d-md-flex">
                                <a href="#">Link 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center py-3 w-100" style="background-color: #4169E1;">© {{ year }} Copyright:
                        <a class="p-1" href="https://wojciechkur.azurewebsites.net"> Wojciech Kur</a>
                    </div>
                </div>
            </div>
      </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

        <!-- AOS -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                  // Global settings:
                  disable: 'mobile', // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
                  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
                  initClassName: 'aos-init', // class applied after initialization
                  animatedClassName: 'aos-animate', // class applied on animation
                  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
                  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
                  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
                  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


                  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
                  offset: 400, // offset (in px) from the original trigger point
                  delay: 0, // values from 0 to 3000, with step 50ms
                  duration: 600, // values from 0 to 3000, with step 50ms
                  easing: 'ease', // default easing for AOS animations
                  once: false, // whether animation should happen only once - while scrolling down
                  mirror: false, // whether elements should animate out while scrolling past them
                  anchorPlacement: 'top-bottom' // defines which position of the element regarding to window should trigger the animation

            });
        </script>
        <!-- Optional JavaScript -->
        <script src="../static/javascript/MainPageFunctions.js"></script>


    </body>
</html>
